# Required
K3S_VERSION="v1.31.5+k3s1"
K3S_NODE_NAME="toybox-0"

# Server install options
K3S_DISABLE="traefik"
K3S_WRITE_KUBECONFIG_MODE="0644"

# Networking
K3S_FLANNEL_BACKEND="vxlan"  # vxlan is default; keep it explicit if you care

# Agents:
K3S_SERVER_URL="https://<server-ip>:6443"
K3S_TOKEN=""                 # server token for agents
